body {
	background-color: #212529; 
	color: white;
}

#carouselCocktails {
	margin: 0px 100px;
}

.formMandatoryLabel {
	color: red;
}

#ingredientBreadcrumb {
	background-color: #191c1f;
}

.reciepe-card {
	color: black !important;
	margin: auto;
}

#dropdownHeader {
	background-color: #3f4352;
	cursor: default;
}

.modal-title, .modal-body {
	color: black;
}

.card-img-shrink {
	max-height: 190px;
}


.card-body {
	min-height: 170px;
}

.btn-reciepe {
    position: absolute;
    bottom: 0;
    margin-bottom: 20px;
}

.row-card-reciepe {
	margin : 10px 0;
}