<!DOCTYPE HTML>
<html lang="fr-fr">
	<head>
		<title>2iSeriesList</title>
		<link rel="icon" href="../ressources/favicon.png" /> <!-- favicon -->
		<link rel='stylesheet' href='../css/faq.css'/>
		<meta charset="UTF-8" />
	</head>
	<body>
		<nav>
			<h1>Sommaire</h1>
			<ul>
				<li><a href="#1">A quoi sert ce site?</a></li>
				<li><a href="#2">Comment se servir du site?</a></li>
				<li><a href="#2a">Comment ajouter une série à mon compte?</a></li>
				<li><a href="#2b">Comment supprimer une série de mon compte?</a></li>
				<li><a href="#3">Comment modifier mon avancement/note?</a></li>
				<li><a href="#4">Comment ça marche?</a></li>
				<li><a href="#5">Pourquoi utiliser notre site?</a></li>
			</ul>
		</nav>
		<section>
			<div id="1">
				<h2>A quoi sert ce site?</h2>
				<p>Notre site vous permet de suivre très simplement votre progression dans le visionage d'une série ou d'obtenir des informations comme le synopis de cette série</p>
			</div>
			<div id="2">
				<h2>Comment se servir du site?</h2>
				<p>Vous pouvez utilisze le site sans compte pour voir les informations sur les séries et vous pouvez vous inscrire en quelques secondes pour plus de fonctionnalitées depuis l'onglet Inscriptions</p>
			</div>
			<div id="2a">
				<h2>Comment ajouter une série à mon compte?</h2>
				<p>Vous pouver ajouter une série à votre compte en accédant à la vue détaillée en cliquant sur son titre depuis l'ognet série</p>
			</div>
			<div id="2b">
				<h2>Comment supprimer une série de mon compte?</h2>
				<p>Vous pouvez supprimer une série de votre compte en sélectionnant "---" dans l'avancement depuis la vue détaillée de cette série</p>
			</div>
			<div id="3">
				<h2>Comment modifier mon avancement/note?</h2>
				<p>Vous pouvez modifier ces informations depuis la vue détaillée d'une série ou augmenter le dernier épisode vu de 1 depuis votre page personelle grace au "+" une série "A regarder" passeras automatiquement en "cours"</p>
			</div>
			<div id="4">
				<h2>Comment ça marche?</h2>
				<p>Nous utilisons la très bonne api de Betaseries disponible <a href="https://www.betaseries.com/api/" target="_blank">ici</a> pour les séries et les comptes sont stockés sur une base MySQL</p>
			</div>
			<div id="5">
				<h2>Pourquoi utiliser notre site?</h2>
				<p>Grace à nous, vous n'oublierez plus jamais ou vous étiez arrivés la dernière fois que vous avez regardé votre série préférée et vous pourrez découvrir de nouvelles séries populaires</p>
			</div>
		</section>
		<footer>
			<div id="copyright">2iSeriesList est une propriété de Corentin Apolinario et Thomas Bagnato. Tout droits réservés.</div>
		</footer>
	</body>
</html>