/* GESTION DES FONT SI NON-DISPO SUR PC*/
@font-face {
    font-family: "Open Sans";
    src: url(../ressources/font/OpenSans-Regular.ttf);
}

@font-face {
    font-family: "Open Sans Light";
    src: url(../ressources/font/OpenSans-Light.ttf);
}

header {
	width: 99%;
	margin: auto;

}

footer {
	position: absolute;
	bottom: 0;
	width: 96%;
	margin-left: 2%;
	border-top: 1px solid white;
}

li:hover, .is-selected {
	border-left-color: white;
	border-right-color: white;
}

.not-selected {
	border-left-color: rgba(0,0,0,0);
	border-right-color: rgba(0,0,0,0);
}

nav {
	display: inline-flex;
	width: 100%;	
	font-size: 2vw;
}

a {
	text-decoration: none;
	color: white !important;
}

ul {
	width: 100%;
	display: flex;
	justify-content: space-around;
	margin: 0;
}

li {
	display: inline-flex;
	padding: 5px 10px;
	margin-top: 2px;
	cursor: pointer;
	-webkit-user-select: none;  /* Chrome all / Safari all */
	-moz-user-select: none;     /* Firefox all */
	-ms-user-select: none;
	user-select: none;
	border: 2px solid rgba(0,0,0,0);
	
	-moz-transition-duration: border-left-color 0.5s, border-right-color 0.5s;
	-webkit-transition-duration: border-left-color 0.5s, border-right-color 0.5s;
	-o-transition-duration: border-left-color 0.5s, border-right-color 0.5s;
	transition: border-left-color 0.5s, border-right-color 0.5s;
}