/* ----------------------------------------------------------------------------------------------------
Super Form Reset
A couple of things to watch out for:
- IE8: If a text input doesn't have padding on all sides or none the text won't be centered.
- The default border sizes on text inputs in all UAs seem to be slightly different. You're better off using custom borders.
- You NEED to set the font-size and family on all form elements
- Search inputs need to have their appearance reset and the box-sizing set to content-box to match other UAs
- You can style the upload button in webkit using ::-webkit-file-upload-button
- ::-webkit-file-upload-button selectors can't be used in the same selector as normal ones. FF and IE freak out.
- IE: You don't need to fake inline-block with labels and form controls in IE. They function as inline-block.
- By turning off ::-webkit-search-decoration, it removes the extra whitespace on the left on search inputs
----------------------------------------------------------------------------------------------------*/

input,
label,
select,
button,
textarea
{
	margin:0;
	border:0;
	padding:0;
	display:inline-block;
	vertical-align:middle;
	white-space:normal;
	background:none;
	line-height:1;
	
	/* Browsers have different default form fonts */
	font-size:13px;
	font-family:'Open Sans Light';
}

/* Remove the stupid outer glow in Webkit */
input:focus
{
	outline:0;
}

/* Box Sizing Reset
-----------------------------------------------*/

/* All of our custom controls should be what we expect them to be */
input,
textarea
{
	-webkit-box-sizing:content-box;
	-moz-box-sizing:content-box;
	box-sizing:content-box;
}

/* These elements are usually rendered a certain way by the browser */
button,
input[type=reset],
input[type=button],
input[type=submit],
input[type=checkbox],
input[type=radio],
select
{
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}

/* Text Inputs
-----------------------------------------------*/

input[type=date],
input[type=datetime],
input[type=datetime-local],
input[type=email],
input[type=month],
input[type=number],
input[type=password],
input[type=range],
input[type=search],
input[type=tel],
input[type=text],
input[type=time],
input[type=url],
input[type=week]
{
}

/* Button Controls
-----------------------------------------------*/

input[type=checkbox],
input[type=radio]
{
	width:13px;
	height:13px;
}

/* File Uploads
-----------------------------------------------*/

input[type=file]
{

}

/* Search Input
-----------------------------------------------*/

/* Make webkit render the search input like a normal text field */
input[type=search]
{
	-webkit-appearance:textfield;
	-webkit-box-sizing:content-box;
}

/* Turn off the recent search for webkit. It adds about 15px padding on the left */
::-webkit-search-decoration
{
	display:none;
}

/* Buttons
-----------------------------------------------*/

button,
input[type="reset"],
input[type="button"],
input[type="submit"]
{
	/* Fix IE7 display bug */
	overflow:visible;
	width:auto;
}

/* IE8 and FF freak out if this rule is within another selector */
::-webkit-file-upload-button
{	
	padding:0;
	border:0;
	background:none;
}

/* Textarea
-----------------------------------------------*/

textarea 
{
	/* Move the label to the top */
	vertical-align:top;
	
	/* Turn off scroll bars in IE unless needed */
	overflow:auto;
}

/* Selects
-----------------------------------------------*/

select
{

}

select[multiple] 
{
	/* Move the label to the top */
	vertical-align:top;
}

/* ------------------------------------------------------------------------------------------------------------------------------ */


body {
	color: white;
	font-family: 'Open Sans Light';
	margin: 0;
	background-color: #363f6a;
	background-image: url(../ressources/background2.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100%;
	text-align: center;
}

nav {
	display: inline-flex;
	width: 100%;
	font-size: 2vw;
}

h1 {
	color: white !important;
	text-align: center;
	width: 100%;
	font-size: 4vw;
	margin-top: 7%;
}

a {
	text-decoration: none;
	color: white !important;
}

ul {
	width: 100%;
	display: flex;
	justify-content: space-around;
	margin: 0;
}

li {
	display: inline-flex;
	padding: 5px 10px;
	margin-top: 2px;
	cursor: pointer;
	-webkit-user-select: none;  /* Chrome all / Safari all */
	-moz-user-select: none;     /* Firefox all */
	-ms-user-select: none;
	user-select: none;
	border: 2px solid rgba(0,0,0,0);
	
	-moz-transition-duration: border-left-color 0.5s, border-right-color 0.5s;
	-webkit-transition-duration: border-left-color 0.5s, border-right-color 0.5s;
	-o-transition-duration: border-left-color 0.5s, border-right-color 0.5s;
	transition: border-left-color 0.5s, border-right-color 0.5s;
}

form[name="logForm"] {
	width: 20%;
	margin: 10% 40%;
	border: 0;
	
}

input[type="text"].loginput, input[type="password"].loginput {
	display: none;
	width: 100%;
	padding: 4%;
	margin: 3% 0%;
	background-color: rgba(0,0,0,0.4);
	color: rgba(255,255,255,0.7);
	font-size: 1vw;
	font-family: 'Open Sans Light';
	font-style: italic;
}

.logs {
	border: 1px solid transparent;
}

#logSubmit, #inscSubmit {
	margin: 0% 30%;
	width: 48%;
	background-color: rgba(0,0,0,0.5);
	color: rgba(255,255,255,0.7);
	font-size: 1vw;
	padding: 3%;
	cursor: pointer;
	
	-moz-transition-duration: background-color 0.5s, color 0.5s;
	-webkit-transition-duration: background-color 0.5s, color 0.5s;
	-o-transition-duration: background-color 0.5s, color 0.5s;
	transition: background-color 0.5s, color 0.5s;
}

#logSubmit:hover, #inscSubmit:hover {
	background-color: rgba(0,0,0,0.7);
	color: rgba(255,255,255,0.8);
}

li:hover, .is-selected {
	border-left-color: white;
	border-right-color: white;
}

.not-selected {
	border-left-color: rgba(0,0,0,0);
	border-right-color: rgba(0,0,0,0);
}

.title {
    margin-left: 3%;
	margin-bottom: 4%;
}

.loginput, .title, #logSubmit, #inscSubmit, #aboutTitle, #container, #seriesContainer, #listeContainer, form[name="logForm"] {
	display: none;
}

#logo {
	margin: 1vw;
	display: inline-block;
	vertical-align: middle;
	width: 5%;
	height: auto;
	position: absolute;
}

#butoncontainer {
	width: 100%;
	margin: auto;
	display: inline-flex;
	justify-content: center;
}

.menubuton {
	border: 3px solid white;
	border-radius: 100px;
	width: 10%;
	height: 3%;
	margin: 0% 1%;
	text-align: center;
	font-size: 2vw;
	padding: 3px 0;
	cursor: pointer;
	display: inline-block;
	
	-moz-transition-duration: background-color 0.5s, color 0.5s;
	-webkit-transition-duration: background-color 0.5s, color 0.5s;
	-o-transition-duration: background-color 0.5s, color 0.5s;
	transition: background-color 0.5s, color 0.5s;
}

.menubuton:hover {
	color: rgba(0,0,0,0.7);
	background-color: white;
}
/* ------ PAGE SERIES -----*/
#seriesContainer {
	width: 100%;
	border-top: 2px solid white;
}

#navSeries {
	background-color: rgba(255,255,255,0.1);
	width: 15%;
	border-right: 2px solid white;
	position: fixed;
}

#searchSeries {
	background-color: rgba(0,0,0,0.2);
	padding: 3%;
	font-size: 1vw;
	color: rgba(255,255,255,0.6);
}

#series-search {
	border-bottom: 1px solid white;
}

#searchSubmit {
	position: absolute;
	left: -9999px
}

.asideButon {
	text-align: center;
	padding: 6%;
	font-size: 1vw;
	font-family: 'Open Sans';
}

.whichSeries, .orderSeries {
	-moz-transition-duration: background-color 0.5s, color 0.5s;
	-webkit-transition-duration: background-color 0.5s, color 0.5s;
	-o-transition-duration: background-color 0.5s, color 0.5s;
	transition: background-color 0.5s, color 0.5s;
	-webkit-user-select: none;  /* Chrome all / Safari all */
	-moz-user-select: none;     /* Firefox all */
	-ms-user-select: none;
	user-select: none;
	cursor: pointer;
}

.whichSeries:hover, .orderSeries:hover, .choice {
	background-color: rgba(255,255,255,0.3) !important;
	color: rgba(0,0,0,0.7);
}

::-webkit-input-placeholder {
   color: rgb(240,240,240) !important;
}

:-moz-placeholder { /* Firefox 18- */
    color: rgb(240,240,240) !important;
}

::-moz-placeholder {  /* Firefox 19+ */
    color: rgb(240,240,240) !important;
}

:-ms-input-placeholder {  
    color: rgb(240,240,240) !important;
}
#order, #detail-view {
	border-top: 1px solid white;
	text-align: left;
	background-color: rgba(0,0,0,0.2);
	font-family: 'Open Sans Light';
}

#detail-view, #detailCheck, #detailBox { /* le div, le label, la checkbox*/
	vertical-align: initial;
}

#detailCheck {
	position: relative;
	font-size: 1vw;
	cursor: pointer;
	-webkit-user-select: none;  /* Chrome all / Safari all */
	-moz-user-select: none;     /* Firefox all */
	-ms-user-select: none;
	user-select: none;
}

#detailBox {
	float: right;
	position: relative;
	width: 1vw;
	height: 1vw;
}



#detailBox:not(:checked), #detailBox:checked {
	position: absolute;
	left: -9999px;
}


/* Aspect des checkboxes */
/* :before sert à créer la case à cocher */
#detailBox:not(:checked) + label:before,
#detailBox:checked + label:before {
	content: '';
	position: absolute;
	left:10vw;
	width: 2vw;
	height: 1vw;
	border: 1px solid #aaa;
	background-color: transparent;
	border-radius: 10px;
	box-shadow: inset 0 1px 3px rgba(0,0,0,.3);
	transition: all .2s;
}
 
/* Aspect général de la coche */
#detailBox:not(:checked) + label:after,
#detailBox:checked + label:after {
    content: '';
    position: absolute;
    left: 10vw;
	top: 1px;
    background-color: rgb(100,100,100);
    width: 1vw;
    height: 1vw;
    border-radius: 50%;
    transition: all .2s; /* on prévoit une animation */
}
/* Aspect si "pas cochée" */
#detailBox:not(:checked) + label:after {
	left: 10vw;
}
/* Aspect si "cochée" */
#detailBox:checked + label:before {
	background-color: rgba(255,255,255,0.4);
}

#detailBox:checked + label:after {
	left: 11vw;
}

.orderSeries {
	text-align: right;
	background-color: rgba(0,0,0,0.1);
}

#displaySeries {
	margin-left: 16%;
}

#tableSeries {
	display: block;
	border-collapse: collapse;
	padding: 1%;
	width: 93%;
	margin: 1% 0 0 5%;
	font-size: 1vw;
}

.item {
	display: inline-block;
	margin: 0 2% 2% 0;
	background-color: rgba(0,0,0,0.1);
	vertical-align: top;
}
.id, .images, .title, .description, .status, .progression, .note {
	text-align: center;
	padding: 4px;
}

.id, .progression, .status, .note {
    width: 5%;
}

.title {
	width: 12vw;
	max-width: 12vw;
	display: block;
}

.description {
	/*width: 50%;*/
	display: none;
}

.images {
	display: block;
	height: 12vw;
	background-image: url(../ressources/indispo.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 12vw;
    background-clip: content-box;
	overflow:hidden;
}

.images > img{
	width: 12vw;
	height: auto;
}

.id, .status{
	display: none;
}

/* ------ / PAGE SERIES -----*/

/* ------ / PAGE PERSO -----*/
#tableListe {
	display: table;
	border-collapse: collapse;
	padding: 1%;
	width: 95%;
	margin: 2%;
	font-size: 1vw;
					
}
	
#tableListe .images{
	height: 3vw;
	background-size: 3vw;
	margin: 0;
}

#tableListe .images> img{
	width: 3vw;	
}

#tableListe .title{
	display: table-cell;	
}

#tableListe .status{
	display: table-cell;
}

#tableListe .item{
	display: table-row-group;
	margin: 0;
	vertical-align: middle;	
}

.plus{
	
	-webkit-user-select: none; // For Webkit
	-khtml-user-select: none;
	-moz-user-select: none; // For Mozilla
	
}
/* ------ PAGE ABOUT -----*/
#aboutTitle {
	text-align: left;
	margin-left: 5%;
	width: 70%;
}

#container {
	width: 50%;
}

.about {
	margin-left: 2%;
	font-size: 1vw;
	text-align: justify;
}

/* ------ FOOTER -----*/
#copyright {
	text-align: center;
	padding-top: 1%;
	margin-bottom: 2%;
	font-size: 1vw;
}